:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
}

/* Navbar Elements */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .netflix-logo {
    color: var(--vermelho);
    font-family: "Arial Black", 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 5px;
}

.nav-links {
    text-decoration: none;
    color: #AAAAAA;
    margin-right: 10px;
}

.nav-links:hover {
    color: #FFFFFF;
}

/* Main - Filme Principal */
.filme-principal {
    font-size: 16px;
    background:
        url(../images/capa-house.jpg),
        linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50) 100%);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descricao {
    margin-bottom: 40px;
}

.titulo-filme {
    font-size: 70px;
}