@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    header .netflix-logo {
        margin-left: 0;
    }

    .nav-links:last-of-type {
        margin-right: 0;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
    }

    .box-filmes {
        width: 80%;
        height: 80%;
    }
}

@media screen and (min-width: 1000px) {
    .descricao-filme {
        width: 50%;
    }
}