body {
	background: #f7f7f7;
}

.post {
	background: white;
	padding: 15px;
	border: 2px solid black;
	margin-bottom: 15px;
	border-radius: 5px;
}

#title, .subtitle, .post-title {
	color: #505050;
}

.post-title {
	font-size: 16px;
	font-style: italic;
	margin: 0 0 15px;
}

.post-content {
	margin: 0 0 15px;
}

.post-image {
	border-radius: 5px;
	margin-bottom: 15px;
}